.lights-out-fade-in-up {
  opacity: 1;
}

@keyframes lightsOutfadeInUp {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.lights-out-fade-out {
  opacity: 0;
}

@keyframes lightsOutfadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
