/**
 * Player Character HUD
 */

#player-character {
  display: flex;
  font-family: var(--font-body);
  font-weight: medium;
  color: var(--lights-out-color-foreground-primary);
  padding-bottom: 1rem;
  pointer-events: all;
}

#player-character .character-picture {
  width: 100px;
  height: 100px;
  background: url(../images/backgrounds/noise-bg.webp);
  background-repeat: repeat;
  border: 1px solid var(--lights-out-color-background-secondary);
  box-shadow: var(--lights-out-shadow-primary);
  border-radius: 50%;
  position: relative;
  margin: 1em;
  z-index: 10;
}

#player-character .character-img {
  background-size: cover;
  width: 94px;
  height: 94px;
  margin: 2px 2px;
  border-radius: 50%;
  border: 1px solid var(--lights-out-color-background-secondary);
}

#player-character .character-picture .sheet {
  opacity: 0;
}

#player-character .character-picture:hover .sheet {
  opacity: 1;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  top: -1px;
  left: -1px;
  position: absolute;
  background: var(--lights-out-color-background-secondary);
  text-align: center;
  line-height: 100px;
  font-weight: bold;
  cursor: pointer;
}

#player-character .picture-border {
  content: url("../images/border.webp");
  position: absolute;
  max-width: none;
  max-height: none;
  width: 128px !important;
  height: 128px !important;
  top: 50%;
  left: 50%;
  margin-top: -64px;
  margin-left: -64px;
  border-radius: 50%;
  pointer-events: none;
  z-index: 9999;
  border: none;
}

#player-character .character-level {
  position: absolute;
  bottom: -10px;
  left: calc(50% - 13px);
}

#player-character .character-level-badge {
  background: url(../images/backgrounds/noise-bg.webp);
  background-repeat: repeat;
  height: 26px;
  width: 26px;
  border: 1px solid var(--lights-out-color-background-primary);
  box-shadow: var(--lights-out-shadow-medium);
  transform: rotate(45deg);
  position: absolute;
  z-index: 4;
}

#player-character .character-level-badge::before {
  content: " ";
  height: 18.5px;
  width: 18.5px;
  background: var(--lights-out-color-background-primary);
  position: absolute;
  bottom: 2.75px;
  left: 2.75px;
}

#player-character .character-level span {
  display: block;
  width: 26px;
  line-height: 26px;
  text-align: center;
  z-index: 5;
  position: relative;
  font-weight: bold;
}

#player-character .character-info {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
}

#player-character .character-details {
  position: absolute;
  top: -0.75rem;
  left: 50%;
  transform: translateX(-50%);
  width: max-content;
  text-align: center;
  z-index: 99;
}

#player-character .character-name {
  font-size: 1.7em;
  font-family: var(--font-header);
  font-weight: bold;
  text-align: center;
  text-shadow: var(--lights-out-shadow-medium);
}

#player-character .character-race-class {
  font-weight: bold;
  text-align: center;
  text-shadow: var(--lights-out-shadow-text);
}

#player-character .character-info-top {
  display: flex;
  align-items: center;
  justify-content: center;
}

#player-character .character-health,
#player-character .character-will,
#player-character .character-attrs {
  width: 200px;
  height: 50px;
  background: url(../images/backgrounds/noise-bg.webp);
  background-repeat: repeat;
  border-radius: 5px;
  border: 1px solid black;
  box-shadow: var(--lights-out-shadow-large);
}

#player-character .character-health {
  margin-left: -25px;
}

#player-character .character-attrs {
  margin-right: -25px;
}

#player-character .bar-wrapper {
  width: 192px;
  height: 42px;
  background: black;
  border-radius: 5px;
  border: 1px solid black;
  box-shadow: var(--lights-out-shadow-large);
  margin-top: 3px;
  margin-left: 3px;
  position: relative;
  border-radius: 4px;
  display: flex;
  align-items: center;
}

#player-character .bar-arrow {
  content: url("../images/table-row-left.webp");
  position: absolute;
  max-width: none;
  max-height: none;
  height: 32px !important;
  top: 4px;
  pointer-events: none;
  z-index: 9999;
  border: none;
}

.arrow-left {
  left: -10px;
}

.arrow-right {
  transform: rotate(180deg);
  right: -10px;
}

#player-character .character-health .bar {
  position: absolute;
  left: 1px;
  top: 1px;
  bottom: 1px;
  width: 75%;
  border-radius: 2px;
  z-index: 2;
  box-shadow: var(--lights-out-shadow-bar-glow);
}

#party .character-health .bar.unknown {
  background: var(--lights-out-color-bar-unknown);
  width: 100%;
}

#player-character .character-health .bar.healthy,
#party .character-health .bar.healthy {
  background: var(--lights-out-color-bar-healthy);
}

#player-character .character-health .bar.hurt,
#party .character-health .bar.hurt {
  background: var(--lights-out-color-bar-hurt);
}

#player-character .character-health .bar.injured,
#party .character-health .bar.injured {
  background: var(--lights-out-color-bar-injured);
}

#player-character .character-health .bar.critical,
#party .character-health .bar.critical {
  background: var(--lights-out-color-bar-critical);
}

#player-character .character-health input {
  color: var(--lights-out-color-foreground-primary);
  width: auto;
  border: none;
  outline: none;
  box-shadow: none;
  text-shadow: var(--lights-out-shadow-text);
  width: 60px;
  text-align: center;
  font-size: 1.4em;
  z-index: 3;
  background: transparent;
}

#player-character .character-health .divider {
  flex: 1;
  text-align: center;
  padding-top: 2px;
  z-index: 3;
  text-shadow: 0 0 5px var(--lights-out-shadow-text);
}

#player-character .character-attrs .attr {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.attr#luck-attr {
  cursor: pointer;
}

#player-character .character-attrs .attr:not(:first-child)::after {
  content: " ";
  height: 14px;
  width: 1px;
  background-color: var(--color-primary-medium);
  left: 0;
  top: 7px;
  position: absolute;
}

#player-character .character-attrs .attr label {
  font-weight: bold;
  color: var(--color-primary-medium);
  letter-spacing: 0.1em;
  font-size: 0.8em;
  text-transform: uppercase;
  line-height: 1em;
  margin-bottom: 4px;
}

#player-character .character-attrs .attr span {
  font-size: 1.4em;
  line-height: 0.8em;
}
